.state {
  @include flex($gap: rem(10));
  overflow: auto;
  @extend %info-border;

  &__item {
    position: relative;
    @include square(55);
    min-width: rem(55);
    border: rem(1) solid $clr-border;
    background-size: rem(35);
    background-position: center;
    background-repeat: no-repeat;
    @extend %round;
    overflow: hidden;
    transition: all 0.2s;
    @extend %pointer;

    &::after {
      @include position(true, 0, -1);
      background-color: $black;
      opacity: 0;
      transition: all 0.2s;
    }

    &:hover {
      background-size: rem(25);

      &::after {
        opacity: 1;
      }
    }
  }
}